body{
    margin: 0 auto;

    max-width:1920px;

    background-image: url('../images/audi_r8_chrome_chernyj_cw_5_matte_black_1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: auto;

    object-fit:cover;
}
/* Structure block */
.structure{
    margin-top:10px;

    min-height: 830px;

    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
/* Options block */
.options{
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    padding-left:3%;
    padding-right:3%;

    width: 90%;
    height:fit-content;

    background:#FFFFFF;

    border-radius: 8px;

    box-shadow: 3px 3px 10px 0px #000000;

    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.options>select{
    margin-top: 2%;
    margin-bottom: 2%;

    padding: 5px 5px;

    min-width: 200px;

    cursor:pointer;

    border-radius: 8px;
}
.show{
    margin-top: 2%;
    margin-bottom: 2%;

    padding:5px 10px;

    width:fit-content;

    cursor:pointer;

    background:#09090eef;

    border-radius: 20px;

    font-size: 16px;

    color:#FFFFFF;
}
/* Car choices */
.container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cars{
    margin-top: 2%;
    margin-bottom:4%;

    min-width: fit-content;
}
.car-choices>div{
    margin-top:2%;
    margin-bottom:2%;

    padding-left:2%;
    padding-right:2%;

    display:flex;
    justify-content: center;
}
.car-choice{
    padding:5px 5px;

    max-width: fit-content;

    background:#FFFFFF;

    border-radius: 8px;

    box-shadow: 3px 3px 10px 0px #000000;
}
.car-choice>a{
    height:100%;

    color:#000000;

    text-decoration: none;

    display:flex;
    flex-direction: column;
}
.car-photo{
    height: 100%;

    background-color: #09090eef;

    border-radius: 8px;

    display:flex;
    align-items: center;
}
.car-photo>img{
    object-fit:cover;

    width:100%;

    border-radius: 8px;
}
.car-description{
    margin-top: 2%;
    margin-bottom: 2%;

    padding:2%;

    border-bottom: 1px solid rgba(117, 117, 117, 0.5);

    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.car-model{
    max-width: fit-content;
}
.car-price{
    margin-top: 2%;
    margin-bottom: 2%;

    padding:2%;

    width:fit-content;

    background:#09090eef;

    border-radius: 20px;

    color:#FFFFFF;

    align-self: flex-end;
}

@media only screen and (max-width: 576px){
    .container {
        min-width: 280px;
        max-width: 100%;
    }
}