body{
    background-image: url('../images/severalCars_90595_1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Structure block */
.structure{
    margin-top:10px;
}
/* Car choices */
.container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cars{
    height:fit-content;
}
.car-choices{
    display: flex; 
    justify-content: space-around;
}
.car-choice{
    padding:5px 5px;

    max-width: fit-content;

    background:#FFFFFF;

    border-radius: 8px;

    box-shadow: 3px 3px 10px 0px #000000;
}
.car-choice>a{
    color:#000000;

    text-decoration: none;
}
.car-choice>a>img{
    border-radius: 8px;
}
.car-description{
    margin-top: 2%;
    margin-bottom: 2%;

    padding:2%;

    border-bottom: 1px solid rgba(117, 117, 117, 0.5);

    display:flex;
    align-items: center;
    justify-content: space-around;
}
.car-price{
    margin-top: 2%;
    margin-bottom: 2%;

    padding:2%;

    width:fit-content;

    background:#09090eef;

    border-radius: 20px;

    color:#FFFFFF;
}