/* all header */
.navigation{
    margin:-8px;

    width:106%;
    height:100px;

    background:#06060c80;

    filter:brightness(200%) !important;

    display:flex;
    align-items: center;
    justify-content: space-between;
}
/* menu button */
.menu{
    display:none;

    margin-left:10%;

    height: fit-content;

    background: none;

    border:0px;

    cursor: pointer;
}
/* chapters of the site */
.nav{
    margin-left:10%;

    height:100px;

    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav-button{
    background:none;

    color:#ffffff;

    border:0px;

    cursor: pointer;

    font-size: 22px;
}
.nav-chapter{
    padding-left: 2%;
    padding-right: 2%;
    white-space: nowrap;
}
.nav-chapter>a{
    text-decoration: none;
    color:#ffffff;
}
/* button sign-in or information about user */
.user-info{
    margin-right:10%;

    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .nav{
        display:none;
    }
    .menu{
        display: flex;
        align-items:center;
    }
}