.background{

    width:100%;
    height:1000px;
    
    /* filter:brightness(70%); */

    background-image: url('../images/bmw_fary_podsvetka_137326_1920x1080.jpg');
    background-repeat: no-repeat;
}
/* Contacts in the center */
.contacts{
    margin:0 auto;

    padding:8% 16%;

    background:none;

    height:600px;

    color:#ffffff;

    display:flex;
    justify-content: space-around;
    align-items: center;

    
}
.contacts>div{
    padding:8% 16%;

    background:#06060c80;

    border: 1px solid #ffffff;

    display:flex;
    justify-content: space-around;
}
/* phones block */
.phones{
    padding-left: 6%;
    padding-right: 6%;
    
    font-size: 20px;

    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
.phone-headline{
    margin-top: 5%;
    margin-bottom: 5%;

    text-decoration: 1px underline;
}
.phone{
    margin-top: 5%;
    margin-bottom: 5%;
}
.phone>a{
    white-space: nowrap;
    text-decoration: none;
    color:#ffffff;
}
/* emails block */
.emails{
    padding-left: 6%;
    padding-right: 6%;

    font-size: 20px;

    display:flex;
    flex-direction: column;
}
.email-headline{
    margin-top: 5%;
    margin-bottom: 5%;

    text-decoration: 1px underline;
}
.email{
    margin-top: 5%;
    margin-bottom: 5%;
}
.email>a{
    text-decoration: none;
    color:#ffffff;
}

/* background:#10101f80; */

@media screen and (max-width:730px) {
    .contacts>div{
        flex-direction: column;
    }
}

/* Sign-in modal window */
.sign-in{
    display:none;

    position:absolute;

    height:50%;
    width:50%;

    top:25%;
    left:25%;

    background:#ffffff;

    border-radius: 6px;
}
.sign-in-exit{
    display:none;

    position:absolute;

    background:#10101fe7;

    color:#ffffff;
}