body{
    margin: 0 auto;

    max-width:1800px;

    background-image: url('../images/bmw_mashina_sportivnyj_1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: auto;

    object-fit:cover;
}
/* Text in the center */
.description{
    height:600px;

    color:#ffffff;

    display:flex;
    justify-content: space-around;
    align-items: center;

    font-size: 28px;
}
.description>div{
    margin:0 auto;

    padding:8% 16%;

    text-align:center;
}
.description>div>span{
    background:#10101f80;
}
